<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245483000315-a75dlsvj5v2881jq1m7me1mu7o6rgb29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245483000315-a75dlsvj5v2881jq1m7me1mu7o6rgb29</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>245483000315-sqo9sbeva8c9f02ih3jisfo64cpsn4tn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1yrdc3wfBlF5d-sUeAFvfS5s87h3uqcY</string>
	<key>GCM_SENDER_ID</key>
	<string>245483000315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.acrogate</string>
	<key>PROJECT_ID</key>
	<string>acro-gate</string>
	<key>STORAGE_BUCKET</key>
	<string>acro-gate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245483000315:ios:415248b79d69c0ddd9bb5e</string>
</dict>
</plist>